{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Currencies{% endblock title %}

{% block content %}
  {% include 'profile/profile_navbar.html' %}
  <h5 class="mb-4">Set here currencies you wish to provide wholesale prices in</h5>
  {% for currency in object_list %}
    <div class="row mt-1 mb-1">
      <div class="col-lg-2 col-sm-4 col-6">
        <p>{{ currency }}</p>
      </div>
      <div class="col-1">
        <form method="POST" action="{% url "currency_delete" currency.pk %}">
          {% csrf_token %}
          <input type="submit" class="btn btn-secondary btn-sm" value="remove">
        </form>
      </div>
    </div>
  {% endfor %}
  <div class="row">
    <div class="col-lg-4 col-md-6">
      {% if object_list %}
        <div class="dropdown-divider mb-3"></div>
      {% endif %}
      <form method="post" action="{% url "currency_create" %}" autocomplete="off">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Add currency</button>
      </form>
    </div>
  </div>
{% endblock content %}
