**/*.DS_Store
**/*.c
**/*.pyc
**/*.pyx
**/*.so
*.log*
*.md
.dockerignore
.env*
.git
.gitignore
.gitlab-ci.yml
.gitlab
.github
.idea
.circleci
.mypy_cache
__pycache__
docker-compose*.yml
media
