__pycache__/
*.py[cod]
*$py.class

*.log
local_settings.py

.env

.vscode
.idea

.DS_Store
*.sqlite3
media/
*.pyc
*.db
*.pid
/dev-utils/clean_migs.sh
/drop_db.sh
/refactor_files.py
/staticfiles
/htmlcov/
