{% if request.resolver_match.view_name != 'release_add' %}
  <ul class="nav nav-tabs mt-3 mb-4">
    <li class="nav-item">
      <a class="nav-link
      {% if request.resolver_match.view_name == 'edit_release' %}
        active
      {% endif %}"
         href="{% url 'edit_release' release.pk %}">Release</a>
    </li>
    <li class="nav-item">
      <a class="nav-link
      {% if request.resolver_match.view_name == 'release_trades_info_edit' %}
        active
      {% endif %}"
         href="{% url 'release_trades_info_edit' release.pk %}">Trades Info</a>
    </li>
    <li class="nav-item">
      <a class="nav-link
      {% if request.resolver_match.view_name in "'release_wholesale_info_edit','release_wholesale_price_add'" %}
        active
      {% endif %}"
         href="{% url 'release_wholesale_info_edit' release.pk %}">Wholesale Info</a>
    </li>
    <li class="nav-item">
      <a class="nav-link
      {% if request.resolver_match.view_name == 'marketing_infos_edit' %}
        active
      {% endif %}"
         href="{% url 'marketing_infos_edit' release.pk %}">Marketing Infos</a>
    </li>
  </ul>
{% endif %}
