{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}{{ release.album_title }}{% endblock title %}

{% block content %}
  {% include 'release/releases_navbar.html' %}
  <div class="card col-md-3">
    <div class="card-body">
      <h5 class="card-title">{{ release.album_title }}</h5>
      {% if release.is_submitted %}
        <p class="card-text">Submitted</p>
      {% else %}
        <p class="card-text">Not submitted</p>
        <form method="POST" action="{% url "release_submit" release.pk %}">
          {% csrf_token %}
          <input type="submit" class="btn btn-secondary btn-sm" value="Submit">
        </form>
      {% endif %}
    </div>
  </div>
{% endblock content %}
