{% load static notifs %}

<!-- BEGIN: Header-->
<nav
    class="header-navbar navbar navbar-expand-lg align-items-center floating-nav navbar-dark navbar-shadow container-xxl">
  <div class="navbar-container d-flex content">
      <form action="{% url 'search' %}" method="POST">
        {% csrf_token %}
        <div class="input-group w-100">
        <input type="search" name="q" id="form1" class="form-control" />
          <button type="submit" class="btn btn-primary">
            search
          </button>
        </div>
      </form>
    <div class="bookmark-wrapper d-flex align-items-center">

      <ul class="nav navbar-nav d-xl-none">
        <li class="nav-item"><a class="nav-link menu-toggle" href="#"><i class="ficon" data-feather="menu"></i></a></li>
      </ul>
    </div>
    <ul class="nav navbar-nav align-items-center ms-auto">
      <li class="nav-item d-none d-lg-block">
        <a class="nav-link nav-link-style"><i class="ficon" data-feather="sun"></i></a>
      </li>
      {#  Вынести уведомления в отдельный шаблон#}
      {% if user.is_authenticated %}
      <li class="nav-item dropdown dropdown-notification me-25">
        <a class="nav-link" href="#" data-bs-toggle="dropdown">
          <i class="ficon" data-feather="bell"></i>
          <span class="badge rounded-pill bg-danger badge-up">{{ user|number_of_unread_notifications }}</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-media dropdown-menu-end">
          <li class="dropdown-menu-header">
            <div class="dropdown-header d-flex">
              <h4 class="notification-title mb-0 me-auto">Notifications</h4>
              <div class="badge rounded-pill badge-light-primary">{{ user|number_of_unread_notifications }} New</div>
            </div>
          </li>



          <li class="scrollable-container media-list">
                {% for notification in user|last_five_notifications %}
                <a class="d-flex" href="{% url 'notif_redirect' notification.pk %}">
                  <div class="list-item d-flex align-items-start">

                    <div class="list-item-body flex-grow-1">
                      <p class="media-heading">{{ notification.message }}
                          <br><small
                        class="notification-text">{{ notification.created }}</small>
                    </div>
                  </div>
                </a>
                {% endfor %}

          </li>
          {% if user|number_of_unread_notifications > 5 %}
          <li class="dropdown-menu-footer">
            <a class="btn btn-primary w-100" href="#">Read all notifications</a>
          </li>
          {% endif %}

        </ul>
      </li>
      {% endif %}
      <li class="nav-item dropdown dropdown-user">
        <a class="nav-link dropdown-toggle dropdown-user-link" id="dropdown-user" href="#" data-bs-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          <div class="user-nav d-sm-flex d-none">
            <span class="user-name fw-bolder">{{ user.name }}</span>
            {#            <span class="user-status">Admin</span>#}
          </div>
          <span class="avatar">
          <img class="round" src="{% static 'app-assets/images/icons/default-avatar.png' %}" alt="avatar" height="40"
               width="40">
          <span class="avatar-status-online"></span></span>
        </a>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdown-user">
          <a class="dropdown-item" href="{% url 'profile_edit' %}">
            <i class="me-50" data-feather="user"></i>
            Profile
          </a>
          <a class="dropdown-item" href="{% url 'postman:inbox' %}">
            <i class="me-50" data-feather="mail"></i>
            Inbox
          </a>
          <a class="dropdown-item" href="#">
            <i class="me-50" data-feather="message-square"></i>
            Chats
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">
            <i class="me-50" data-feather="settings"></i>
            Settings
          </a>
          <a class="dropdown-item" href="#"><i class="me-50" data-feather="help-circle"></i> FAQ</a>
          <a class="dropdown-item" href="{% url 'logout' %}"><i class="me-50" data-feather="power"></i> Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<!-- END: Header-->
