{% extends 'base.html' %}

{% block title %}Invitations{% endblock title %}

{% block content %}
  {% include 'profile/profile_navbar.html' %}
  <div class="row mt-2 mb-2">
    <div class="col-8">
      <h3>You can share these invitation links</h3>
      {% for invite in invitations %}
        <p class="text-primary">{{ request.get_host }}/users/signup/{{ invite.public_id }}
        {% if not invite.is_active %}
            - inactive! Already used.
        {% endif %}
        </p>
      {% endfor %}
    </div>
  </div>
{% endblock content %}