{% load static %}

<!-- BEGIN: Main Menu-->
<div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true">
  <div class="navbar-header">
    <ul class="nav navbar-nav flex-row">
      <li class="nav-item me-auto">
        <a class="navbar-brand" href="{% url 'home' %}">
          <span class="brand-logo">
            <img src="{% static 'images/casette.svg' %}" alt="" style="max-width: 45px">
          </span>
          <h2 class="brand-text">Music Releases</h2>
        </a>
      </li>
      <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pe-0" data-bs-toggle="collapse"><i
          class="d-block d-xl-none text-primary toggle-icon font-medium-4" data-feather="x"></i><i
          class="d-none d-xl-block collapse-toggle-icon font-medium-4  text-primary" data-feather="disc"
          data-ticon="disc"></i></a></li>
    </ul>
  </div>
  <div class="shadow-bottom"></div>
  <div class="main-menu-content">
    <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
      <li class=" navigation-header">
        <span data-i18n="Apps &amp; Pages">Menu</span>
        <i data-feather="more-horizontal"></i>
      </li>
      <li class=" nav-item">
        {#        Сделать Dashboard главной#}
        <a class="d-flex align-items-center" href="#">
          <i data-feather='grid'></i>
          <span class="menu-title text-truncate" data-i18n="Dashboard">Dashboard</span>
        </a>
      </li>
      <li class=" nav-item">
        <a class="d-flex align-items-center" href="#">
          <i data-feather='music'></i>
          <span class="menu-title text-truncate" data-i18n="Components">Releases</span>
        </a>
        <ul class="menu-content">
          <li>
            <a class="d-flex align-items-center" href="{% url 'my_releases' %}">
              <i data-feather="circle"></i>
              <span class="menu-item text-truncate" data-i18n="My releases">My releases</span>
            </a>
          </li>
          <li>
            <a class="d-flex align-items-center" href="{% url 'all_releases' %}">
              <i data-feather="circle"></i>
              <span class="menu-item text-truncate" data-i18n="All releases">All releases</span>
            </a>
          </li>
          <li>
            <a class="d-flex align-items-center" href="{% url 'recently_submitted' %}">
              <i data-feather="circle"></i>
              <span class="menu-item text-truncate"
                    data-i18n="Recently submitted releases">Recently submitted releases</span>
            </a>
          </li>
          <li>
            <a class="d-flex align-items-center" href="{% url 'upcoming_releases' %}">
              <i data-feather="circle"></i>
              <span class="menu-item text-truncate" data-i18n="Upcoming releases">Upcoming releases</span>
            </a>
          </li>
          <li>
            <a class="d-flex align-items-center" href="{% url 'wishlist' %}">
              <i data-feather="circle"></i>
              <span class="menu-item text-truncate" data-i18n="Upcoming releases">Wishlist</span>
            </a>
          </li>
        </ul>
      </li>
    <li class=" nav-item">
    <a class="d-flex align-items-center" href="{% url 'label_list' %}">
          <i data-feather="circle"></i>
          <span class="menu-item text-truncate" data-i18n="Labels">Labels</span>
        </a>
    </li>
    </ul>
  </div>
</div>
<!-- END: Main Menu-->
