{% extends 'base.html' %}

{% block title %}Delete Label{% endblock title %}

{% block content %}
  {% include 'profile/profile_navbar.html' %}
  <h1 class="mt-3">Delete label</h1>

  {% if label.is_main %}
    <p>The main label cannot be deleted!</p>
    <a class="btn btn-primary" href="{% url 'users_label_list' %}">Back to labels</a>
  {% else %}
    <form action="" method="post">
      {% csrf_token %}
      <p>Are you sure you want to delete the label <b>{{ label.name }}</b>?</p>
      {% if label.releases.exists %}
        <p>It will delete not only the label, but also the following releases:</p>
        <ul class="list-unstyled">
          {% for release in label.releases.all %}
            <li>{{ release.band_name }} "{{ release.album_title }}"</li>
          {% endfor %}
        </ul>
      {% endif %}

      <a class="btn btn-primary" href="{% url 'users_label_list' %}">Cancel</a>
      <button class="btn btn-outline-danger" type="submit">Delete label</button>
    </form>
  {% endif %}
{% endblock content %}
