{% extends 'base.html' %}

{% block title %}
    Labels list
{% endblock %}

{% block content %}

    {% for label in labels %}
    <a href="{% url 'label_detail' label.id %}">
    <div class="p-2 shadow-4 rounded-3 mt-1" style="background-color: #283046">
      <div class="row">
        <div class="col-3">
          {% if label.logo %}
            <img src="{{ label.logo.url }}" alt="" srcset="" class="img-thumbnail">
          {% endif %}
        </div>
        <div class="col-3">
          <h3>{{ label.name }}</h3>
          <i>{{ label.releases.count }} releases</i>
        </div>
        <div class="col-6">
            {% if label.description %}
               {{ label.description|truncatechars:100 }}
            {% endif %}

        </div>
      </div>
    </div>
    </a>
  {% endfor %}
{% endblock content %}

