{% extends 'base.html' %}

{% block title %}Label Detail{% endblock title %}

{% block content %}
  <div class="row">
    <div class="col-5">
        {% if label.logo %}
            <img src="{{ label.logo.url }}" class="img-fluid" alt="">
        {% endif %}
    </div>
    <div class="col-7">
        <h1 class='text-uppercase'>{{ label.name }}</h1>
        <h6><i>{{ label.releases.count }} releases</i></h6>
        {{ label.description }}
    </div>
  </div>

  {% for release in label.releases.all %}
    <div class="p-4 shadow-4 rounded-3 mt-3"  style="background-color: #283046">
      <div class="row">
        <div class="col-2">
          <img src="{{ release.cover_image.url }}" alt="" srcset="" class="img-thumbnail">
        </div>
        <div class="col-4">
          <p>{{ release.band_name }} ({{ release.country }})</p>
          <p>{{ release.album_title }} - {{ release.format }} | {{ release.divide_media_format }}</p>
          <p>{{ release.base_style }}</p>
          <p>{{ release.submitted_at|date:"d.m.Y" }} {{ release.label }} ({{ release.label.profile.country }})</p>
        </div>
        <div class="col-4">

          <p>
            Trade points:
            {{ release.releasetradeinfo.trade_points|default_if_none:"-" }}
          </p>
          <p>Wholesale prices: </p>
            {% for price in release.release_price.all %}
              <p>{{ price.price }} {{ price.currency }}</p>
            {% endfor %}

        </div>

    </div>
    <audio controls="controls">
      <source src="{{ release.sample.url }}" type="audio/mpeg" />
    </audio>


  </div>
  {% endfor %}

{% endblock content %}